streamlit==1.27.2
Pillow==10.0.1
python-time==0.3.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aioshutil==1.5
aiosignal==1.3.1
altair==5.4.1
annotated-types==0.7.0
anyio==4.6.2.post1
attrs==24.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
ci-info==0.3.0
click==8.1.7
colorama==0.4.6
configobj==5.0.9
configparser==7.1.0
deepsearch-glm==0.26.1
distro==1.9.0
docling-core==2.3.1
docling-ibm-models==2.0.3
docling-parse==2.0.3
docutils==0.21.2
easyocr==1.7.2
etelemetry==0.3.1
filelock==3.16.1
filetype==1.2.0
fitz==0.0.1.dev2
frozenlist==1.5.0
fsspec==2024.10.0
gitdb==4.0.11
GitPython==3.1.43
h11==0.14.0
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
huggingface-hub==0.26.2
idna==3.10
imageio==2.36.0
importlib_metadata==8.5.0
isodate==0.6.1
Jinja2==3.1.4
jiter==0.7.0
jsonlines==3.1.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
lazy_loader==0.4
litellm==1.52.2
looseversion==1.3.0
lxml==4.9.4
markdown-it-py==3.0.0
marko==2.1.2
MarkupSafe==3.0.2
mdurl==0.1.2
mean-average-precision==2021.4.26.0
mpmath==1.3.0
multidict==6.1.0
narwhals==1.13.2
networkx==3.4.2
nibabel==5.3.2
ninja==1.11.1.1
nipype==1.9.0
numpy==1.26.4
openai==1.54.3
opencv-python-headless==4.10.0.84
packaging==24.2
pandas==2.2.3
pathlib==1.0.1
pdf2image==1.17.0
pillow==10.4.0
propcache==0.2.0
protobuf==5.28.3
prov==2.0.1
puremagic==1.28
py-zerox==0.0.7
pyarrow==16.1.0
pyclipper==1.3.0.post6
pydantic==2.9.2
pydantic-settings==2.6.1
pydantic_core==2.23.4
pydeck==0.9.1
pydot==3.0.2
Pygments==2.18.0
PyMuPDF==1.24.13
pyparsing==3.2.0
PyPDF2==3.0.1
pypdfium2==4.30.0
python-bidi==0.6.3
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-pptx==1.0.2
pytz==2024.2
pywin32==307
pyxnat==1.6.2
PyYAML==6.0.2
rdflib==6.3.2
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rpds-py==0.21.0
Rtree==1.3.0
safetensors==0.4.5
scikit-image==0.24.0
scipy==1.14.1
setuptools==75.1.0
shapely==2.0.6
shellingham==1.5.4
simplejson==3.19.3
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
streamlit==1.40.0
sympy==1.13.1
tabulate==0.9.0
tenacity==9.0.0
tifffile==2024.9.20
tiktoken==0.8.0
tokenizers==0.20.3
toml==0.10.2
tornado==6.4.1
tqdm==4.67.0
traits==6.4.3
transformers==4.46.2
typer==0.12.5
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
watchdog==5.0.3
wheel==0.44.0
XlsxWriter==3.2.0
yarl==1.17.1
zipp==3.20.2
